#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 3em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #64fffaaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #8061fbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #93938c;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://img.freepik.com/free-vector/hand-drawn-abstract-doodle-background_23-2149311754.jpg?t=st=1721063539~exp=1721067139~hmac=bc48f816148eac863a718d2bd33c1b16a215acd1e171c14ca2f3136776f9da22&w=1380');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
}

.app {
  background: #e6b3b3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}